/*************************** Element selectors ****************************/
a:link {
    text-decoration: none;
}
a:visited .hobby-row{
    text-decoration: none;
}
a:hover .hobby-row{
    text-decoration: underline;
}
a:active .hobby-row{
    text-decoration: underline;
}

a, h3 {
    color: #11999e
}

body {
    margin: 0;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Satisfy', cursive;
    line-height: 2;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    color: #66bfbf;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

table {
    margin: 0 auto;
}

/*************************** Class selectors ****************************/
.top-container {
    background-color: #e4f9f5;
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    text-align: center;
}

.bottom-container {
    text-align: center;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.hobby {
    /*padding-right: 30px;*/
    margin-right: 30px;
    border-radius: 50%;
    width: 25%;
    float: left;
}

.hobby-text {
    clear: left
}

.hobby2 {
    margin-left: 30px;
    border-radius: 50%;
    width: 25%;
    float: right;
}

.hobby2-text {
    clear: right
}

.hobby-row {
    margin: 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.skill-row {
    margin: 100px auto;
    width: 60%;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.pro {
    text-decoration: underline;
}